* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

body {
    background: linear-gradient(to bottom, #111111, #17191a);
    color: white;
}

header {
    background-color: #e74c3c;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.buttons {
    display: flex;
    gap: 20px;
}

.btn {
    background: #e74c3c;
    color: white;
    padding: 15px 35px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.btn:hover {
    background: #c0392b;
    transform: scale(1.05);
}

footer {
    background-color: #171b1f;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    color: #ecf0f1;
}
